
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}
//Page principale
body.home{
    background-color: white;
    overflow-x: hidden;
    height: 100%;
}
.home{
    #primary{
        width: 100vw;
        margin: 0;
        margin-bottom: 20px;
    }
}

//Clip-path qui va seulement s'afficher en mode desktop
body.home::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: -1;

        @include media-desktop{
            clip-path: polygon(70% 0, 100% 0, 100% 100%, 60% 100%);
            background-color: wheat;
            height: 420%;
        }
}
//Ajout d'un style au titre de chaque page
h1.page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: titreArchives ease-in 2s infinite;
}
/* ------------------------------------------------------------------------- 
LISTE DES BLOCS DE COURS PAR type_de_cours
------------------------------------------------------------------------- */
.home .cours {
    display: flex;
    flex-direction: column;
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    //Style qui s'applique aux articles de cours
    article{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
        margin: 1%;
        width: 100%;
        background-color: $color__article;
        &:hover{
            transform: scale(1.02);
        }
        p{
            margin: .4rem;
            font-size: 1rem;
            color: white;
        }
        a{
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            color: white;
            display: flex;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    //Pour le média tablette... mettre seulement 2 articles de largeur
    @include tablette{
        article{
            width: 45%;
            margin: 1%;
        }
    }
    //Pour le média tablette... mettre 3 articles de largeur
    @include desktop{
        article{
            width: 29%;
            margin: 1%;
        }
        
    }
    }
    h2{
        padding: 5px;
        border: 2px solid black;
        border-radius: 10%;
    }
}
/* ------------------------------------------------------------------------- 
LISTE DES BLOCS DE COURS PAR type_de_cours FIN
------------------------------------------------------------------------- */

//Ajouts de styles pour les différents titres présent dans la page
.site-title{
    margin-bottom: 0px;
    font-family: $font__sitetitle2;
    font-weight: bold;
    font-size:  clamp(1.2rem, #{"-0.875rem + 8.333vw"}, 2.5rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
    }
}


.site-description{
    font-size:  clamp(.9rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    margin-top: 0px;
    font-family: $font__sitetitle;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
}



.entry-title{
    font-size: 3rem;
    margin-bottom: 0px;
    text-decoration: underline;
}

//Style pour le footer
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: 0;

    
    p{
        margin-top:0px;
        margin-bottom: 0px;
    }
}
//Style pour les bouttons en dessous du carroussel
#Bouttons{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(212, 207, 154);
    transform: scale(1.5);
}
svg{
    position: relative;
}

//Ajout de la bar de chaque côté du titre de chaque section du type de cours
.bar{
    display: flex;
    height: 5px;
    width: 100%;
    border: 10px solid black;
}
//Style qui vont à la barre + texte qui sépare chaque type de cours
.TypeCours{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 30px;
}

/* ------------------------------------------------------------------------- 
ANIMATIONS DANS LA PAGE
------------------------------------------------------------------------- */
@keyframes titreArchives{
    0%{
        transform:translateX(0)
    }
    25%{
        transform: translateX(-20px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform:translateX(0) 
    }
}