
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}
//Page principale
body.home{
    background-color: white;
    overflow-x: hidden;
    height: 100%;
}
.home{
    #primary{
        width: 100vw;
        margin: 0;
        margin-bottom: 20px;
    }
}

//Clip-path qui va seulement s'afficher en mode desktop
body.home::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: -1;

        @include media-desktop{
            clip-path: polygon(70% 0, 100% 0, 100% 100%, 60% 100%);
            background-color: wheat;
            height: 420%;
        }
}
//Ajout d'un style au titre de chaque page
h1.page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 3px 5px 2px #aca9a9;
}
/* ------------------------------------------------------------------------- 
LISTE DES BLOCS DE COURS PAR type_de_cours
------------------------------------------------------------------------- */
.home .cours {
    display: flex;
    flex-direction: column;
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: center;

    //Style qui s'applique aux articles de cours
    article{
        width: 100%;

        &:not(.slide__conteneur){
            background-color: $color__article;
            border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 10px 30px 10px 20px;
        }
        &:hover:not(.slide__conteneur){
            transform: scale(1.02);
            box-shadow: inset 0 0 0 2px white;
        }
        
        p{
            margin: .4rem;
            font-size: 1rem;
            color: white;
        }
        a{
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            color: white;
            display: flex;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    //Pour le média tablette... mettre 3 articles de largeur
    @include desktop{
        article{
            margin: 1%;
        }
        
    }
    }
    h2{
        padding: 5px;
        border: 2px solid black;
        border-radius: 10%;
    }
}
/* ------------------------------------------------------------------------- 
LISTE DES BLOCS DE COURS PAR type_de_cours FIN
------------------------------------------------------------------------- */

//Ajouts de styles pour les différents titres présent dans la page
.site-title{
    margin-bottom: 0px;
    
    font-weight: bold;
    font-size:  clamp(1.2rem, #{"-0.875rem + 8.333vw"}, 2.5rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    a{
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, black, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size:  clamp(1.2rem, #{"-0.875rem + 8.333vw"}, 2.5rem);
  font-family: $font__sitetitle;
  animation: revelation 3000ms ease-in-out forwards 200ms, briller 2500ms linear infinite 2000ms;
    text-decoration: none;

    &:hover{
        color: black;
    }
    }
}


.site-description{
    font-size:  clamp(.9rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    margin-top: 0px;
    font-family: 'Courrier';
    width: 100vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
}



.entry-title{
    font-size: 3rem;
    margin-bottom: 0px;
    text-decoration: underline;
}

//Style pour le footer
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: 0;

    
    p{
        margin-top:0px;
        margin-bottom: 0px;
    }
}
//Style pour les bouttons en dessous du carroussel
#Bouttons{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(212, 207, 154);
    transform: scale(1.5);
}
svg{
    position: relative;
}

//Ajout de la bar de chaque côté du titre de chaque section du type de cours
.bar{
    display: flex;
    height: 5px;
    width: 100%;
    border: 10px solid black;
}
//Style qui vont à la barre + texte qui sépare chaque type de cours
.TypeCours{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 30px;
}

/* ------------------------------------------------------------------------- 
ANIMATIONS DANS LA PAGE
------------------------------------------------------------------------- */
@keyframes revelation {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes briller {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }