
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}
body.home{
    background-color: white;
    overflow-x: hidden;
}
.home{
    #primary{
        width: 100vw;
    }
}

body.home::after{
    position: absolute;
    width: 100%;
    
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: -1;
    // clip-path: polygon(100% 66%, 72% 100%, 100% 100%);

        @include media-desktop{
            clip-path: polygon(70% 0, 100% 0, 100% 100%, 60% 100%);
            background-color: wheat;
            height: 120vh;
        }
}


.site-title{
    margin-bottom: 0px;
    font-family: $font__sitetitle2;
    font-weight: bold;
    font-size:  clamp(1.2rem, #{"-0.875rem + 8.333vw"}, 2.5rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
    }
}


.site-description{
    font-size:  clamp(.9rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    margin-top: 0px;
    font-family: $font__sitetitle;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media-desktop{
        flex-direction: row;
    }
    width: 100vw;
    ul{
        list-style: none;
        font-size:  clamp(.8rem, #{"-0.875rem + 8.333vw"}, 2rem);
        width: 20rem;
        @include media-desktop{
            margin-top:40px;
        }
    }
    img{
        border-radius: 30%;
    }
}

.entry-title{
    font-size: 3rem;
    margin-bottom: 0px;
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: 0;

    
    p{
        margin-top:0px;
        margin-bottom: 0px;
    }
}
#Bouttons{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(212, 207, 154);
}

