/*******************************************************************
STYLES QUI SONT APPLIQUÉS AU CARROUSSEL
*******************************************************************/
.carrousel{
    width: 300vw;
    height: 20vh;
    display: flex;
    transition: transform .5s;
    transform: translateX(0);
    font-size: 2rem;
    text-decoration: underline;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    //Style pour le premier carroussel   
    &:nth-of-type(1){
        background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20191030/pngtree-seamless-pattern-with-apple-cute-background-premium-vector-image_320848.jpg);
        background-position: center;
        a{
            color: black;
        }
    }
    //Style pour le deuxième carroussel   
    &:nth-of-type(2){
        background-image: url(https://xxxclairewilliamsxxx.files.wordpress.com/2013/09/binary_patch_03.gif);
        a{
            color: white;
        }
    }
    //Style pour le troisième carroussel   
    &:nth-of-type(3){
        background-image: url(https://static.vecteezy.com/system/resources/previews/000/103/536/non_2x/vector-seamless-pineapple-ananas-pattern.jpg);
    }
    a{
        color: black;
    }
    }
    
}