/*******************************************************************
STYLES QUI SONT APPLIQUÉS AU SLIDER AVEC LES COURS
*******************************************************************/
.carrouselCours{
    width: 300vw;
    height: 20vh;
    display: flex !important;
    transition: transform .5s;
    transform: translate(0);
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    @include medium{
        width: 600vw;
        }
    
    .slide__conteneur{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44vw !important;
        @include medium{
            width: 100vw !important;
        }
    .slide{
        width: 40vw;
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        @include medium{
            width: 80vw;
        }
        img{
            display: block;
            margin: 2%;
        }
        .slide__info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                font-size: .8rem;
            }
            a{
                font-size: 1.2rem;
                text-decoration: none;
            }
        }
        //Style pour le premier carroussel   
    &:nth-of-type(1){
        background-color: rgb(73, 35, 35);
    }

    }
    
    }
    
}

.ctrl-carroussel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    .rad-carrousel{
        display: block;
        margin: .5rem 2rem .5rem 2rem;
        @include desktop{
            &:nth-of-type(4){
                display: none;
            }
            &:nth-of-type(5){
                display: none;
            }
            &:nth-of-type(6){
                display: none;
            }
        }
        
    }
    
}